@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%230eb173' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  font-family: 'Metal Mania', cursive;
}

h1 {
  background: rgba(15, 83, 74, 0.5);
  width: 275px;
  margin: 20px auto 10px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  color: white;
  text-shadow: 0 5px 5px #000000;
  cursor: pointer;
  box-shadow: 0 5px 5px #000000;
}

h1:hover {
  background: rgba(0, 0, 0, 0.7);
}

.container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: rgba(15, 83, 74, 0.5);
  display: inline;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 5px 5px #000000;
}

a:hover,
a:active {
  text-decoration: underline;
}

.item img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: sub;
}
.item:hover {
  background: rgba(0, 0, 0, 0.7);
}
.item i {
  float: right;
  cursor: pointer;
  z-index: 2;
  color: white;
  margin-left: 10px;
  text-shadow: 0 5px 5px #000000;
  font-size: 20px;
}

/* modal */
.modal-container {
  background-color: rgba(15, 83, 74, 0.5);
  width: 700px;
  /* min-width: 90%; */
  border-radius: 10px;
  text-align: center;
  
  animation: modalopen 1s;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-title h3 {
  font-size: 40px;
  display: block;
  padding: 10px;
  color: #fff;
  text-shadow: 0 5px 5px #000000;
}

.modal-container label {
  display: block;
  font-size: 20px;
  margin: 20px 0;
}
.modal-container input {
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
}
.modal-container i {
  float: right;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

button {
  display: block;
  margin: 40px auto;
  padding: 10px 100px;
  color: #fff;
  background-color: #000000;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(144, 144, 144, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  transition: 2s;
}
/* media query responsive viewport design */
@media screen and (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .modal-container{
    width: unset;
    width: 85vw;
  }
}
